// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin card-shadow {
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}
