// Variables

$primary-color: #39cdcc;
$secondary-color: #213f7d;
$danger-color: #e4033b;
$warning-color: #f55f44;
$success-color: #39cdcc;
$pending-color: #e9b200;
$inactive-color: #545f7d;
$text-primary: #213f7d;
$text-secondary: #545f7d;
$background-light: #fbfbfb;
$border-color: #e6e6e6;
$white: #ffffff;

// Breakpoints
$large-screen: 1256px;
$small-screen: 1024px;
$tablet: 768px;
$mobile: 480px;
