@use "sass:color";
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

// App Layout
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .layout {
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-direction: row;

    // Main Content
    .main-content {
      flex: 1;
      overflow-y: auto;
      background: $background-light;
    }
  }

  .app-body {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
}
